<script type="text/javascript">
if(QC.Login.check()){//如果已登录
  QC.Login.getMe(function(openId, accessToken){
    alert(["当前登录用户的", "openId为："+openId, "accessToken为："+accessToken].join("\n"));
  });
  //这里可以调用自己的保存接口
  //...
}
else{
  b
}
</script>

<script type="text/javascript">
//从页面收集OpenAPI必要的参数。get_user_info不需要输入参数，因此paras中没有参数
var paras = {};

//用JS SDK调用OpenAPI
QC.api("get_user_info", paras)
  //指定接口访问成功的接收函数，s为成功返回Response对象
  .success(function(s){
    //成功回调，通过s.data获取OpenAPI的返回数据
    alert("获取用户信息成功！当前用户昵称为："+s.data.nickname);
    document.write("<img src=\"http://img.mukewang.com/52b4113500018cf102000200.jpg\" ><br>");
    document.write("<img src=\""+s.data.figureurl+"\" ><br>");
  })
  //指定接口访问失败的接收函数，f为失败返回Response对象
  .error(function(f){
    //失败回调
    alert("获取用户信息失败！");
  })
  //指定接口完成请求后的接收函数，c为完成请求返回Response对象
  .complete(function(c){
    //完成请求回调
    alert("获取用户信息完成！");
  });
</script>


<% if logged_in? %>

  <div class="row">

    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>微博个人中心</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>

  <div class="center jumbotron">
    <h1>欢迎来到 Anyruby</h1>
    <h2>
      这是      
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>      
      简单应用的首页
    </h2>
  
    <%= link_to "现在开始吧!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org/' %>        
<% end %>

<script type="text/javascript"
  src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true">
</script>

