<% if logged_in? %>

  <div class="row">

    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>

    <div class="col-md-8">
      <h3>微博个人中心</h3>
      <%= render 'shared/feed' %>
    </div>

  </div>

<% else %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <center>
        <br><br><br><br>
        <h1>欢迎来到 Anyruby</h1>
        <h2>
          这里是      
          <%= link_to "邹夏孟", about_path %>      
          的个人网站
        </h2>
        
        <%= link_to "现在注册吧!", signup_path, class: "btn btn-lg btn-primary" %>
        或
        <%= link_to "以游客身份访问!", qq_path, class: "btn btn-lg btn-primary" %>
        
        <br><br><br><br><br><br>
        <h2>她是徐佳莹，听听她的音乐吧!</h2>
        <audio controls>
          <source src="徐佳莹 - 惧高症.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
        </audio>
        <br><br><br><br><br><br>
        <h5>
          <%= link_to "关于", about_path %>
          <%= link_to "帮助", help_path %>
          <%= link_to "联系我", contact_path %><br>
          zigzagpigx@gmail.com
        </h5>
       </center>
    </div>
  </div>
<% end %>