<%= form_for([current_user, @article]) do |f| %>
  
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h3>保存不成功！这个表单存在 <%= @article.errors.count %>个 错误！</h3>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br><br><br>

  <%= f.text_field :title, class: 'form-control' %><br>

  <div class="field">
      <%= f.text_area(:text, size: "20x25") %>
  </div>

  <%= f.submit "写好了", class: "btn btn-primary" %>
<% end %>