<div class="row">
  <% if logged_in? %>
    <aside class="col-md-4">
      <section class="user_info">
        <%= gravatar_for current_user %>
        <h1><%= current_user.name %></h1>
        <h5><%= link_to "创建新文章", new_user_article_path %></h5>
      </section>
    </aside>
  <% end %>

  <div class="col-md-8">	
	  <% if @articles.any? %>
	    <h3>文章(<%= @articles.count %>)</h3>	    
      <% @articles.each do |article| %>
	      <ol class="microposts">
	    	<li id="micropost-<%= article.id %>">
	    	  <%= link_to gravatar_for(article.user, size: 50), article.user %>
	    	  <span class="content">
	    	    <h4><%= link_to "#{article.title}", user_article_path(id: article.id) %></h4>
	    	  </span>
	    	  <span class="timestamp">
	    	     <%= "#{article.user.name}" %>
             发表于 <%= time_ago_in_words(article.created_at) %> 前啦
	    	  </span>
	    	</li>
	      </ol>
	    <% end %>
      
	  <% end %>	
  </div>

</div>