<div class="row">

  <div class="col-md-8 col-md-offset-1">
    <h3>
      <center>
        <%= link_to "#{@article.title}", user_article_path(id: @article.id) %>
      </center>
    </h3>

    <br>
    <br>
      <%= markdown @article.text %>
    <br>
    <br>
    <br>
    <br>

    <section class="user_info">
      <ol class="microposts">
        <li id="micropost-<%= @article.id %>">
          <%= link_to gravatar_for(current_user, size: 50), current_user %>
          <span class="timestamp">
            <h4><%= "#{current_user.name}" %></h4>
              发表于 <%= time_ago_in_words(@article.created_at) %> 前啦
            <%= link_to "修改", edit_user_article_path(id: @article.id) %>
              <%= link_to '删除', user_article_path(id: @article.id), method: :delete,
                data: { confirm: '真的要删吗?' } %></span>
        </li>
  
        <li id="micropost-<%= @article.id %>">
          作者简介（待补充）
        </li>
  
        <li id="micropost-<%= @article.id %>">
          文章简介（待补充）
        </li>
      </ol>
    </section>

  </div>

</div>