<% @user ||= current_user %>

<div class="stats">
  
  <a href="<%= following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    收听
  </a>
  
  <a href="<%= followers_user_path(@user) %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    听众
  </a>

  <a href="<%= user_path(@user) %>">
    <strong id="following" class="stat">
      <%= @user.microposts.count %>
    </strong>
    微博
  </a>

</div>